body {
     width: 100%;
     margin: 0px;
}

h1 {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-weight: 600;
     font-size: 3.5em 
}
 h2 {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-weight: 200;
     font-size: 3em 
}
 p {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-weight: 200;
     font-size: 2em 
}
 .div_link {
     text-decoration: none;
     color: #697FC9;
}
 .div_link:hover {
     text-decoration: none;
     color: #5567A3;
}
 iframe {
     height: 40vw;
     width: 80vw;
     margin: 0 auto;
     display: block;
     margin-top: 2em;
     margin-bottom: 2em;
     border: none;
}
 #discord-json {
     display: inline-block;
}
 #discord-logo {
     display: inline-block;
     height: 6em;
}
 #discord-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     margin-top: 40px;
}
 #bevo-text {
     margin: 0 auto;
     display: block;
     padding: 20px;
}
 #bevo-logo {
     width: 30em;
     height: 15em;
     margin: 0 auto;
     display: block;
     padding: 20px;
}
 #info-wrapper {
     margin: 0 auto;
     margin-top: 80px;
     flex-wrap: wrap;
     flex-shrink: 0;
}
 #at-logo {
     width: 15em;
     margin: 0 auto;
     display: block;
     padding: 20px;
}
 #ip {
     width: 500px;
     margin: 0 auto;
}
 